@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@charset "UTF-8";
* {
    font-family: 'New Tegomin', serif;
}

main {
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #3c4666d3;
    width: 700px;
    background-color: white;
}

body {
    background-image: linear-gradient(to right, #ece06c85, #e9ebf1d3);
}

h1 {
    color: #474f57a8;
    text-shadow: #2b30358a;
    text-align: center;
}

h2 {
    color: #BF8756;
    text-align: center;
}

p {
    text-align: justify;
}